dev
ddd

/* 密码重置提醒 */
.user-warn-pop .pop-con{ width: 440px; height: 212px; margin: -116px 0 0 -220px; text-align: center;}
.user-warn-pop .user-warn-con .h3{ font-size: 16px; color: #000;}
.user-warn-pop .user-warn-con .text{ line-height: 24px; color: #383838; font-size: 14px;}
.user-warn-pop .pop-con .btn{ width: 144px;}