dev:123
ddd


/* 密码重置提醒 */
.user-warn-pop .pop-con{ width: 440px; height: 212px; margin: -116px 0 0 -220px; text-align: center;}
.user-warn-pop .user-warn-con .h3{ font-size: 16px; color: #000;}
.user-warn-pop .user-warn-con .text{ line-height: 24px; color: #383838; font-size: 14px;}
.user-warn-pop .pop-con .btn{ width: 144px;}

/* 酒店管理-设置服务时间-按产品设置  添加酒店产品列表 */
.pop-hotel-pro .pop-con{ width: 760px; height: 360px; margin-top: -190px; margin-left: -380px;}
.pop-hotel-pro .hotel-pro-list{ height:260px;overflow-y: auto;}
.pop-hotel-pro .hotel-pro-list li{ float: left; _display:inline; margin-left: 30px; margin-top: 25px; width: 215px; height: 36px; line-height: 18px; overflow: hidden;}
.pop-hotel-pro .hotel-pro-list li i{display:block; float: left;}
.pop-hotel-pro .hotel-pro-list li em{display:block; float: left; padding-left: 10px; width: 188px;}
.pop-hotel-pro .btn{ display:block;width: 144px; margin:35px auto;}

