dev:123
ddd

/* 酒店管理-设置服务时间-按产品设置  添加酒店产品列表 */
.pop-hotel-pro .pop-con{ width: 760px; height: 360px; margin-top: -190px; margin-left: -380px;}
.pop-hotel-pro .hotel-pro-list{ height:260px;overflow-y: auto;}
.pop-hotel-pro .hotel-pro-list li{ float: left; _display:inline; margin-left: 30px; margin-top: 25px; width: 215px; height: 36px; line-height: 18px; overflow: hidden;}
.pop-hotel-pro .hotel-pro-list li i{display:block; float: left;}
.pop-hotel-pro .hotel-pro-list li em{display:block; float: left; padding-left: 10px; width: 188px;}
.pop-hotel-pro .btn{ display:block;width: 144px; margin:35px auto;}